<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
    <title>测试机管理系统</title>
  </head>

  <body>

    <div class="container">
      <form action="/login_action/" method="post" class="form-signin" style="max-width: 330px;margin: 10px auto;padding: 15px;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="inputEmail" class="sr-only">Account</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="请输入账号" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required>
		{{error}}<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
        <button class="btn btn-lg btn-info btn-block" type="submit" formaction="/Android_list/">直接访问</button>
		{% csrf_token %}	
      </form>

    </div>
  </body>
</html>
