<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<title>测试机管理系统</title>
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="{%url 'iOS_list'%}">测试机管理系统</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li ><a href="{%url 'Android_list'%}">Android</a></li>
<li class="active"><a href="{%url 'iOS_list'%}">iOS</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="/index/">登录</a></li>
</ul>
</div>
</div>
</nav>


<!--搜索表单-->
<div>
<div>
<img src="/static/ios.jpg" class="img-responsive" alt="iOS" style="padding-top:60px;padding-left:10px;width:100px;float:left">
</div>
<div class="" style="padding-top:120px;padding-left:10px;margin-left:120px">
<form class="form-inline" method="get" action="{%url 'iOSsearch'%}">
<div class="form-group">
<input name="name" type="text" placeholder="型号" class="form-control"  value="{{ name1 }}" list="category1">
	<datalist id="category1">
		<option value="4">
		<option value="5">
		<option value="6">
		<option value="7">
		<option value="8">
	</datalist>
<input name="version" type="text" placeholder="系统版本" class="form-control"  value="{{ version1 }}" list="category2">
	<datalist id="category2">
		<option value="8">
		<option value="9">
		<option value="10">
		<option value="11">
	</datalist>
</div>
<button type="submit" class="btn btn-success">{% bootstrap_icon "search" %} 搜索</button>
</form>
</div>

</div>
<!-- iOS列表-->
<div class="row" style="padding-top: 10px;padding-left:20px;">
<div class="table-responsive"">
<table class="table table-hover">
<thead>
<tr>
<th>编号</th><th>型号</th><th>版本</th><th>系统版本</th><th>屏幕分辨率</th><th>状态</th><th>借用人</th><th>操作</th><th>借用时间</th>
</tr>
</thead>
<tbody>
{% for iOS in iOSs %}
	{% if iOS.status == True %}
		<form method="post" action="{%url 'applying'%}">
		{% csrf_token %}
		<tr class="">
		<td><input type="hidden" name="id" value="{{ iOS.id }}">&nbsp;&nbsp;<b>{{ iOS.id }}</b></td>
		<td>{{ iOS.name }}</td>
		<td>{{ iOS.version }}</td>
		<td>{{ iOS.iOS_version }}</td>
		<td>{{ iOS.Physical_size }}</td>
		{%if iOS.breakdown == 1%}
		<td><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
		{%else%}
		<td>已损坏</td>
		{%endif%}
		{% if iOS.applicant %}
			<td>{{ iOS.applicant }}</td>
			<td><button type="submit" class="btn btn-warning" formaction="{%url 'applied'%}">取消</button></td>
		{% else %}
			{%if iOS.breakdown == 1%}
			<td><input name="applyname" type="text" class="form-control" style="width:100px"></td>
			<td><button type="submit" class="btn btn-info">申请</button></td>
			{%else%}
			<td></td>
			<td></td>
			{%endif%}
		{% endif %}
		<td></td>
		</tr>
		</form>
	{% else %}	
		<tr class="">
		<td>&nbsp;&nbsp;<b>{{ iOS.id }}</b></td>
		<td>{{ iOS.name }}</td>
		<td>{{ iOS.version }}</td>
		<td>{{ iOS.iOS_version }}</td>
		<td>{{ iOS.Physical_size }}</td>
		<td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
		<td>{{ iOS.owner }}</td>
		<td>{{ iOS.modifiedtime|date:"Y-m-d H:i:s" }}</td>
		</tr>
		{% endif %}
{% endfor %}
</tbody>
</table>
</div>
</div>
<!-- 列表分页器-->
<div class="container">
  <ul class="pager">
  {% if iOSs.has_previous %}
	<li><a href="?page={{ iOSs.previous_page_number }}">上一页</a></li>
	{% endif %}
	{% if iOSs.has_next %}
    <li><a href="?page={{ iOSs.next_page_number }}">下一页</a></li>
	{% endif %}
  </ul>
</div>
</body>
</html>